@page
@model LocationsMemory.Pages.Locations.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Location.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    Id: @Model.Location.Id
</div>

<div>
    Hausnummer: @Model.Location.Street_number
</div>

<div>
    Straßenname: @Model.Location.Street_name
</div>

<div>
    Stadt: @Model.Location.City
</div>

<div>
    Latitude: @Model.Location.Lat
</div>

<div>
    Longitude: @Model.Location.Lng
</div>

<a asp-page="./list" class="btn btn-primary">Zurück zu allen Locations</a>