@page
@model LocationsMemory.Pages.Locations.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Location.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<div>
    Id: @Model.Location.Id
</div>

<div>
    Hausnummer: @Model.Location.Street_number
</div>

<div>
    Straßenname: @Model.Location.Street_name
</div>

<div>
    Stadt: @Model.Location.City
</div>

@*<div>
    Test: @Model.AddressComponent.Long_name
</div>*@

@*
    <div>
        administrative_area_level_1: @Model.Location.administrative_area_level_1
    </div>

    <div>
        country: @Model.Location.country
    </div>

    <div>
        postal_code: @Model.Location.postal_code
    </div>*@

<a asp-page="./list" class="btn btn-primary">Zurück zu allen Locations</a>